.ahref {
    width: 16rem;
}

.Menu_wrapper {
    z-index: 99999;
    border-radius: 0.375rem;
    width: 16rem;
    position: relative;
    background: var(--menu);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    @media (max-width: 1000px) {
        background: rgba(255, 255, 255, 0);
    }

    .context_menu {
        padding: .2rem .1rem;

        span {
            display: flex;
            position: relative;
            background: transparent;
            color: var(--main-color);
            width: 100%;
            padding: .2rem;
            transition-duration: 200ms;

            .ahref{
                margin-top: 2px;
                border-top: .5px  solid var(--menu) ;
            }
            .ahrefff{

                margin-top: 2px;
            }
            .Menu_icons_wrapper {
                color: var(--main-color);
                background: transparent;
                display: flex;
                width: 100%;
                align-items: center;
                padding: .5rem 1.5rem;
                gap: 10px;
                border-radius: 0.275rem;
                border: 0;
                outline: 0;

                &:hover {
                    // background: #181818;
                    background: var(--app-container);
                }
            }
        }
    }
}

.hidden {
    display: none;
}