.prop_wrapper_development{
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    p,h1{
        text-align: center;
    }
}