$color_1: #444;
$color_2: #acacac;
$color_3: #333;
$color_4: #aaa;
$color_5: #443091;
$color_6: #fff;
$font-family_1: "Poppins", sans-serif;
$background-color_1: #fff;
$background-color_2: #f0f0f0;
$background-color_3: #443091;
$background-color_4: #443091;
$border-color_1: #4481eb;

@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap";
/* ANIMATION */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: $font-family_1;
}
input {
	font-family: $font-family_1;
}
.containerr {
	position: relative;
	width: 100%;
	background-color: $background-color_1;
	min-height: 100vh;
	overflow: hidden;
	&:before {
		content: "";
		position: absolute;
		height: 2000px;
		width: 2000px;
		top: -10%;
		right: 48%;
		transform: translateY(-50%);
		background-image: linear-gradient(-45deg, #4481eb 0%, #443091 100%);
		transition: 1.8s ease-in-out;
		border-radius: 50%;
		z-index: 6;
	}
}
.forms-containerr {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.signin-signup {
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 75%;
	width: 50%;
	transition: 1s 0.7s ease-in-out;
	display: grid;
	grid-template-columns: 1fr;
	z-index: 5;
}
form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0rem 5rem;
	transition: all 0.2s 0.7s;
	overflow: hidden;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}
form.sign-up-form {
	opacity: 0;
	z-index: 1;
}
form.sign-in-form {
	z-index: 2;
}
.titleee {
	font-size: 2.2rem;
	color: $color_1;
	margin-bottom: 10px;
}
.input-field {
	max-width: 380px;
	width: 100%;
	background-color: $background-color_2;
	margin: 10px 0;
	height: 55px;
	border-radius: 55px;
	display: grid;
	grid-template-columns: 15% 85%;
	padding: 0 0.4rem;
	position: relative;
	.log_icon {
		text-align: center;
		line-height: 55px;
		color: $color_2;
		transition: 0.5s;
		font-size: 2rem;
		position: relative;
        top: 10px; 
        left: 10px;
	}
	input {
		background: none;
		outline: none;
		border: none;
		line-height: 1;
		font-weight: 600;
		font-size: 1.1rem;
		color: $color_3;
		&::placeholder {
			color: $color_4;
			font-weight: 500;
		}
	}
	p{
		margin: 0;
		position: absolute;
		font-family: "Roboto","Helvetica","Arial",sans-serif;
		font-weight: 400;
		bottom: 0;
		text-align: center;
		font-size: 1rem;
		width: 300px;
	    line-height: 1.5; 
		letter-spacing: 0.00938em;
	}
}
.social-textt {
	padding: 0.7rem 0;
	font-size: 1rem;
}
.social-media {
	display: flex;
	justify-content: center;
}
.social-iconn {
	height: 46px;
	width: 46px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 0.45rem;
	color: $color_3;
	border-radius: 50%;
	border: 1px solid #333;
	text-decoration: none;
	font-size: 1.1rem;
	transition: 0.3s;
	&:hover {
		color: $color_5;
		border-color: $border-color_1;
	}
}
.btn {
	width: 150px;
	background-color: $background-color_3;
	border: none;
	outline: none;
	height: 49px;
	border-radius: 49px;
	color: $color_6;
	font-weight: 600;
	margin: 10px 0;
	cursor: pointer;
	transition: 0.5s;
	&:hover {
		background-color: $background-color_4;
	}
}
.panels-container {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.image {
	width: 100%;
	transition: transform 1.1s ease-in-out;
	transition-delay: 0.4s;
}
.panel {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	text-align: center;
	z-index: 6;
	.content {
        background: transparent ;
        display: block;
		color: $color_6;
		transition: transform 0.9s ease-in-out;
		transition-delay: 0.6s;
	}
	h3 {
		font-weight: 600;
		line-height: 1;
		font-size: 1.5rem;
	}
	p {
		font-size: 0.95rem;
		padding: 0.7rem 0;
	}
}
.left-panel {
    display: flex;
    align-items: center;
    justify-content: center;
	pointer-events: all;
	padding: 3rem 17% 2rem 12%;
}
.right-panel {
    display: flex;
    align-items: center;
    justify-content: center;
	pointer-events: none;
	padding: 3rem 12% 2rem 17%;
	.image {
		transform: translateX(800px);
	}
	.content {
		transform: translateX(800px);
	}
}
.btn.transparent {
	margin: 0;
	background: none;
	border: 2px solid #fff;
	width: 130px;
	height: 41px;
	font-weight: 600;
	font-size: 0.8rem;
}
.containerr.sign-up-mode {
	&:before {
		transform: translate(100%, -50%);
		right: 52%;
	}
	.left-panel {
		.image {
			transform: translateX(-800px);
		}
		.content {
			transform: translateX(-800px);
		}
		pointer-events: none;
	}
	.signin-signup {
		left: 25%;
	}
	form.sign-up-form {
		opacity: 1;
		z-index: 2;
	}
	form.sign-in-form {
		opacity: 0;
		z-index: 1;
	}
	.right-panel {
		.image {
			transform: translateX(0%);
		}
		.content {
			transform: translateX(0%);
		}
		pointer-events: all;
	}
}
@media (max-width: 870px) {
	.containerr {
		min-height: 800px;
		height: 100vh;
		&:before {
			width: 1500px;
			height: 1500px;
			transform: translateX(-50%);
			left: 30%;
			bottom: 68%;
			right: initial;
			top: initial;
			transition: 2s ease-in-out;
		}
	}
	.signin-signup {
		width: 100%;
		top: 95%;
		transform: translate(-50%, -100%);
		transition: 1s 0.8s ease-in-out;
		left: 50%;
	}
	.containerr.sign-up-mode {
		.signin-signup {
			left: 50%;
			top: 5%;
			transform: translate(-50%, 0);
		}
		&:before {
			transform: translate(-50%, 103%);
			bottom: 32%;
			right: initial;
		}
		.left-panel {
			.image {
				transform: translateY(-300px);
			}
			.content {
				transform: translateY(-300px);
			}
		}
		.right-panel {
			.image {
				transform: translateY(0px);
			}
			.content {
				transform: translateY(	100px);
			}
		}
	}
	.panels-container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 2fr 1fr;
	}
	.panel {
		transform: translateY(30px);
		height: 150px;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		padding: 2.5rem 8%;
		grid-column: 1 / 2;
		.content {
			padding-right: 15%;
			transition: transform 0.9s ease-in-out;
			transition-delay: 0.8s;
		}
		h3 {
			font-size: 1.2rem;
		}
		p {
			font-size: 0.7rem;
			padding: 0.5rem 0;
		}
	}
	.right-panel {
		grid-row: 3 / 4;
		.image {
			transform: translateY(300px);
		}
		.content {
			transform: translateY(300px);
		}
	}
	.left-panel {
		grid-row: 1 / 2;
	}
	.image {
		width: 200px;
		transition: transform 0.9s ease-in-out;
		transition-delay: 0.6s;
	}
	.btn.transparent {
		width: 110px;
		height: 35px;
		font-size: 0.7rem;
	}
}
@media (max-width: 570px) {
	form {
		padding: 0 1.5rem;
	}
	.image {
		display: none;
	}
	.panel {
		.content {
			padding: 0.5rem 1rem;
		}
	}
	.containerr {
		padding: 1.5rem;
		&:before {
			bottom: 75%;
			left: 50%;
		}
	}
	.containerr.sign-up-mode {
		&:before {
			bottom: 25%;
			left: 50%;
		}
	}
}
