@font-face {
    font-family: 'rene-bieder-milliard-medium';
    src: url('../assets/Rene-Bieder-Milliard-Medium.otf') format('opentype');
}


.Navbar_wrapper {
    display: flex;
    height: 80px;
    width: 100%;
    position: absolute;
    padding: 16px 156px;
    align-items: center;
    z-index: 99999;
    justify-content: space-between;
    gap: 24px;
    flex-shrink: 0;
    transition: .5s ease;
    background: transparent;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
    // transition: .5s ease-in-out;
    // transition-delay: 1s;
    @media (max-width: 1200px) {
        // Styles that are applied when the screen width is less than 1100px
        padding: 16px 100px; // or any other styling for display
      }
    
    .logo {
        display: flex;
        align-items: center;
        gap: 8px;
        overflow: hidden;
        width: 160px;
        img{
            z-index: 2;
            height: 40px;
        }
        span {
            display: flex;
            align-items: center;
            height: 40px;

            z-index: 1;
            img{
                height: 30px;
            }
        }
    }
    .buttonn {
        display: flex;
        border: none;
        color: #fff;
        padding: 12px 22px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 10px;
        background: #443091;
    }
    .button {
        display: flex;
        border: none;
        color: #fff;
        padding: 12px 22px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 10px;
        background: #443091;

        @media (max-width: 1100px) {
            // Styles that are applied when the screen width is less than 1100px
            display: none; // or any other styling for display
          }
    }
    
    .Profile_pi{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5vw;
    }
    .social_logo {
        display: flex;
        // width: 360px;
        justify-content: flex-end;
        align-items: center;
        gap: 32px;
        flex-shrink: 0;
        align-self: stretch;
        font-size: 1.7vw;
        @media (max-width: 1100px) {
            // Styles that are applied when the screen width is less than 1100px
            display: none; // or any other styling for display
          }
        span{
            display: block;
            color: #A6AEBB;

            @media (max-width: 1100px) {
                // Styles that are applied when the screen width is less than 1100px
                display: none; // or any other styling for display
              }
        }

        button {
            display: flex;
            border: none;
            color: #fff;
            padding: 12px 22px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: 10px;
            background: #443091;


        }
        
        
    }
    @media (max-width: 1100px) {
        // Styles that are applied when the screen width is less than 1100px
        padding: 0; // or any other styling for display
        display: flex;
        align-items: center;
        justify-content: center;
      }
}