$base: #263238;
$lite:  #FFF;
$brand: #FF3D00;
$size: 48px;

.loader {
    width : $size;
    height: $size;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 2px solid $brand;
    animation: rotation 1s linear infinite;
    &:after {
      content: '';
      position: absolute;
      left: 4px;
      top: 4px;
      border: 2px solid $lite;
      width:  $size/4;
      height:  $size/4;
      border-radius: 50%;
    }
}