#cu {
    scroll-behavior: smooth;
    @media (max-width: 950px) {       
        font-size: 15px;
    }
}

.Courses {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 100px 50px;
    gap: 50px;
    font-family: "rene-bieder-milliard-medium";
    text-align: center;

    .Courses_header {
        height: 20%;

        h1 {
            color: 442f92;
        }

        $color_1: #fff;
        $color_2: #8f8f8f;
        $font-family_1: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        $background-color_1: transparent;
        $background-color_2: #7e4fd4;

        .input-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            position: relative;

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                right: 100px;
                cursor: pointer;
                width: 50px;
                height: 50px;
                outline: none;
                border-style: none;
                pointer-events: painted;
                background-color: $background-color_1;
                transition: .2s linear;
            }


            .input {
                border-style: none;
                height: 50px;
                padding: 10px 10px 0 10px;
                outline: none;
                transition: .5s ease-in-out;
                padding-right: 40px;
                color: #000000;
                box-shadow: none;
                width: 350px;
                border-radius: 0px;
                background-color: transparent;
                border-bottom: 3px solid #7e4fd4;
                font-size: 2vw;
                &::placeholder {
                    font-family: $font-family_1;
                    font-size: 20px;
                    color: $color_2;
                }
                
            }


        }



    }

    .courses_box {
        display: flex;
        height: 80%;
        flex-wrap: wrap;
        gap: 50px;
        align-items: center;
        justify-content: center;

        .main_box_wrapper {
            width: 360px;
            height: 450px;
            border: .1px solid #0000001e;
            border-radius: 10px;

            .image_box_wrapper {

                img {
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    border-radius: 10px 10px 0 0;
                }
            }

            .courses_text_wrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;

                span {
                    width: 80%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 20px;
                    height: 170px;

                    h1 {
                        font-size: 1.5vw;
                    }
                }

                button {
                    display: flex;
                    border: none;
                    color: #fff;
                    padding: 12px 22px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    border-radius: 10px;
                    background: #443091;

                }
            }
        }
    }
}