.dev_foter{
    padding: 30px 50px;
    background: #151417;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 60vh;
    text-align: center;

    .logo{
        a{
            display: flex;
            gap: 20px;
        }
    }
    .recipe-container {
        padding: 0 50px;
        gap: 20px;
        background: rgba(189, 181, 181, 0.1);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 25px;
        padding: 30px 0;
        width: min(1200px, 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        flex-direction: column;
        button{
            padding: 10px;
            border-radius: 9px;
            color: #fff;
            background: #7618fd;
            border: none;
            outline: none;
        }
    }
}